/* Regular */
@font-face {
  font-family: 'Young Serif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400; /* regular */
}
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
  font-weight: 400; /* regular */
}
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600; /* semibold */
}
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
  font-weight: 700; /* bold */
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0;
}

:root {
  /* COLOR VARIABLES */
  --white: #ffffff;
  --stone-100: #f3e6d8;
  --stone-150: #e4ded8;
  --stone-600: #5f574e;
  --stone-900: #302d2c;
  --brown-800: #854632;
  --rose-800: #7b284f;
  --rose-50: #fff5fa;

  /* FONT VARIABLES */
  /* For H1 recipe title */
  --text-preset-h1: normal 400 36px/1.0 'Young Serif', serif;
  /* Section headers Ingredients, Instructions and Nutrition */
  --text-preset-h2: normal 400 28px/1.21 'Young Serif', serif;
  /* Preparation time text heading */
  --text-preset-h3: normal 600 20px/1.2 Outfit, sans-serif;
  /* Body copy, regular font weight */
  --text-preset-body: normal 400 16px/1.5 Outfit, sans-serif;


  /* Base font */
  font: var(--text-preset-body);
  color: var(--stone-600);
}
.boldtext {
  font-weight: 700;
}
body {
  background-color: var(--stone-100);
}
article {
  display: flex;
  flex-flow: column;
  background-color: var(--white);
  margin: auto;
  max-width: clamp(375px,80vw, 800px);
  padding: 212px 32px 0 32px;
  gap: 32px;
  position: relative;
  border-radius: 0;
}
div.sections-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 31px;
}
.recipe-img-info,
header,
.prep-div {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  gap: 32px;
}
header {
  gap: 24px;
}
.prep-div {
  gap: 14px;
  padding: 20px 24px 22px;
  background-color: var(--rose-50);
  border-radius: 12px;
}
.sections-container>hr {
  height: 1px;
  border: 0;
  background-color: var(--stone-150);
  width: 100%;
}
.sections-container>section {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 170px;
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
  font: var(--text-preset-h1);
  color: var(--stone-900);
}
h2 {
  font: var(--text-preset-h2);
  color: var(--brown-800);
}
ol, ul {
  padding-left: 1.3rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}
ol {
  padding-left: 1.5rem;
}
ol>li::marker {
  font-family: var(--text-preset-body);
  font-size: 1rem;
  font-weight: 600;
  color: var(--brown-800);
}
ul>li::marker {
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--brown-800);
}
.prep-time {
  color: var(--rose-800);
  font: var(--text-preset-h3);
}
.prep-list>li::marker {
  color: var(--rose-800);
}
ul>li {
  padding-left: 1.15rem;
}
ol>li {
  padding-left: 1rem;
}
table.nutritional-values {
  border: none;
  border-collapse: collapse;
  width: 100%;
  margin-top: 4px;
}
tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--stone-150);
  padding: 12px 32px;
  width: 100%;
  font: var(--text-preset-body);
}
tr:last-child {
  border: none;
}
td:last-child {
  color: var(--brown-800);
  padding-left: 8px;
}

.attribution {
  font-size: 12px;
  text-align: center;
  padding: 0.5rem;
  border-top: 2px solid var(--stone-150);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 700px) {
  article {
    border-radius: 24px;
    margin: 40px auto;
    padding: 40px;
    gap: 26px;
  }
  .recipe-img-info {
    gap: 34px;
  }
  .prep-div {
    padding: 28px;
  }
  .sections-container {
    gap: 30px;
  }
  .sections-container>section {
    gap: 22px;
  }
  img {
    position: unset;
    height: 300px;
    border-radius: 12px;
    margin-bottom: 8px;
  }
  h1 {
    font-size: 40px;
  }
  table.nutritional-values {
    margin-top: -12px;
  }
}