/* Regular */
@font-face {
  font-family: 'Young Serif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400; /* regular */
}
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
  font-weight: 400; /* regular */
}
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600; /* semibold */
}
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
  font-weight: 700; /* bold */
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0;
}

:root {
  /* COLOR VARIABLES */
  --white: #ffffff;
  --stone-100: #f3e6d8;
  --stone-150: #e4ded8;
  --stone-600: #5f574e;
  --stone-900: #302d2c;
  --brown-800: #854632;
  --rose-800: #7b284f;
  --rose-50: #fff5fa;

  /* FONT VARIABLES */
  /* For H1 recipe title */
  --text-preset-h1: normal 400 2.25rem/1.0 'Young Serif', serif;
  /* Section headers Ingredients, Instructions and Nutrition */
  --text-preset-h2: normal 400 1.75rem/1.21 'Young Serif', serif;
  /* Preparation time text heading */
  --text-preset-h3: normal 600 1.25rem/1.2 Outfit, sans-serif;
  /* Body copy, regular font weight */
  --text-preset-body: normal 400 1rem/1.5 Outfit, sans-serif;


  /* Base font */
  font: var(--text-preset-body);
  color: var(--stone-600);
}
.boldtext {
  font-weight: 700;
}
body {
  background-color: var(--stone-100);
}
article {
  display: flex;
  flex-flow: column;
  background-color: var(--white);
  margin: auto;
  width: max(23.4375rem, 100%);
  padding: calc(10.9rem + 10vw) 2rem 2rem 2rem;
  gap: 2rem;
  position: relative;
  border-radius: 0;
}
div.sections-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.9375rem;
}
.recipe-img-info,
header,
.prep-div {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  gap: 2rem;
}
header {
  gap: 1.5rem;
}
.prep-div {
  gap: 0.875rem;
  padding: 1.25rem 1.5rem 1.375rem;
  background-color: var(--rose-50);
  border-radius: 0.75rem;
}
.sections-container>hr {
  height: 0.0625rem;
  border: 0;
  background-color: var(--stone-150);
  width: 100%;
}
.sections-container>section {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.25rem;
}

img {
  object-fit: cover;
  width: 100%;
  height: calc(8.279rem + 10vw);
  min-height: 10.625rem;
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
  font: var(--text-preset-h1);
  color: var(--stone-900);
}
h2 {
  font: var(--text-preset-h2);
  color: var(--brown-800);
}
ol, ul {
  padding-left: 1.3rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
ol {
  padding-left: 1.5rem;
}
ol>li::marker {
  font-family: var(--text-preset-body);
  font-size: 1rem;
  font-weight: 600;
  color: var(--brown-800);
}
ul>li::marker {
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--brown-800);
}
.prep-time {
  color: var(--rose-800);
  font: var(--text-preset-h3);
}
.prep-list>li::marker {
  color: var(--rose-800);
}
ul>li {
  padding-left: 1.15rem;
}
ol>li {
  padding-left: 1rem;
}
table.nutritional-values {
  border: none;
  border-collapse: collapse;
  width: 100%;
  margin-top: -0.75rem;
}
tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.0625rem solid var(--stone-150);
  padding: 0.75rem 2rem;
  width: 100%;
  font: var(--text-preset-body);
}
tr:last-child {
  border: none;
}
td:last-child {
  color: var(--brown-800);
  padding-left: 0.5rem;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  padding: 0.5rem;
  border-top: 0.125rem solid var(--stone-150);
  background-color: var(--stone-100);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* FOR SCREENS LARGER THAN 600PX IN WIDTH */
@media screen and (min-width: 600px) {
  article {
    max-width: 46rem;
    border-radius: 1.5rem;
    margin: 7.625rem auto;
    padding: 2.5rem;
    gap: 1.625rem;
  }
  .recipe-img-info {
    gap: 2.125rem;
  }
  .prep-div {
    padding: 1.75rem;
  }
  .sections-container {
    gap: 1.875rem;
  }
  .sections-container>section {
    gap: 1.375rem;
  }
  img {
    position: unset;
    height: 18.75rem;
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
  }
  h1 {
    font-size: 2.5rem;
  }
}